{% extends 'base.html.twig' %}
{% block body %}
<h1>Magasine Scolaire</h1>
<h3> Pour les éléves du Lycée Mixte </h3>



<img src=https://th.bing.com/th/id/OIP.heiEC5RhbT-KdJALs6hZ2wHaF_?pid=ImgDet&rs=1 title="Title of image" alt="alt text here">
{% endblock %}